# Unit 23. 2차원 리스트

## 23.1 생성 및 인덱싱

In [ ]:
a = [[10, 20], [30, 40], [50, 60]]
a

[[10, 20], [30, 40], [50, 60]]

In [ ]:
# a[행인덱스][열인덱스]
a[1][0]

30

In [ ]:
a[1][-1] = 100
a

[[10, 20], [30, 100], [50, 60]]

In [ ]:
import numpy as np
b = np.arange(16).reshape(4,4)
b

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [ ]:
b[1, 1]

5

In [ ]:
b[1:-1,1:-1]            # numpy는 되는데 리스트는 힘듬, 2차원 잘 안쓰게 됨

array([[ 5,  6],
       [ 9, 10]])

In [ ]:
# 톱니형 리스트 (잘 안쓰임...)
a = [[10, 20],
     [500, 600, 700],
     [9],
     [30, 40],
     [8],
     [800, 900, 1000]]
a

[[10, 20], [500, 600, 700], [9], [30, 40], [8], [800, 900, 1000]]

In [ ]:
a = []
for i in range(4):
    t = []
    for k in range(4):
        t.append(i * 4 + k)
    a.append(t)

a

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11], [12, 13, 14, 15]]

In [ ]:
[[i*4 + k for k in range(4)] for i in range(4)]

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11], [12, 13, 14, 15]]

In [ ]:
from pprint import pprint
pprint(a, indent=4, width=30)

[   [0, 1, 2, 3],
    [4, 5, 6, 7],
    [8, 9, 10, 11],
    [12, 13, 14, 15]]

## 23.2 for 반복문 사용

In [ ]:
for row in a:
    print(row)

[0, 1, 2, 3]
[4, 5, 6, 7]
[8, 9, 10, 11]
[12, 13, 14, 15]

In [ ]:
for row in a:
    for element in row:
        print(f'{element:2d}', end = ' ')
    print()

 0  1  2  3
 4  5  6  7
 8  9 10 11
12 13 14 15

In [ ]:
for w,x,y,z in a:
    print(w,x,y,z)

0 1 2 3
4 5 6 7
8 9 10 11
12 13 14 15

## 23.2 반복문으로 리스트 만들기

In [ ]:
a = [[0 for _ in range(2)] for _ in range(3)]
a

[[0, 0], [0, 0], [0, 0]]

In [ ]:
a = [[0]*2 for _ in range(3)]
a

[[0, 0], [0, 0], [0, 0]]

In [ ]:
number = [3, 1, 3, 2, 5]
b = []
for i in number:
    line = []
    for _ in range(i):
        line.append(0)
    b.append(line)
print(b)

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [ ]:
[[0]*i for i in number]

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

## 23.4 2차원 리스트의 할당과 복사

In [ ]:
a = [[10,20],[30,40]]
b = a
b[0][0] = 500
a

[[500, 20], [30, 40]]

In [ ]:
a = [[10, 20], [30, 40]]
import copy             # copy 모듈을 가져옴
b = copy.deepcopy(a)    # copy.deepcopy 함수를 사용하여 깊은 복사
b[0][0] = 500
a

[[10, 20], [30, 40]]