In [ ]:
age = int(input())
balance = 9000    # 교통카드 잔액

if 12 >= age >= 7:
    balance -= 650
elif 18>= age >= 13:
    balance -= 1050
else:
    balance -= 1250
print(balance)

12
8350

In [ ]:
for i in range(10, 0):
    print(i)

In [ ]:
count = int(input())

for i in range(3):
    print('i의 값은', end=' ')
    print(i)

3
i의 값은 0
i의 값은 1
i의 값은 2

In [ ]:
number = int(input())

for i in range(1, 10):
    print(f'{number} * {i} = {number * i}')
    print(number, '*', i, '=', number * i)

3
3 * 1 = 3
3 * 1 = 3
3 * 2 = 6
3 * 2 = 6
3 * 3 = 9
3 * 3 = 9
3 * 4 = 12
3 * 4 = 12
3 * 5 = 15
3 * 5 = 15
3 * 6 = 18
3 * 6 = 18
3 * 7 = 21
3 * 7 = 21
3 * 8 = 24
3 * 8 = 24
3 * 9 = 27
3 * 9 = 27

In [ ]:
balance = int(input())

while balance > 0:
    balance -= 1350
    if balance < 0:
        break
    print(balance)

13500
12150
10800
9450
8100
6750
5400
4050
2700
1350
0

In [ ]:
start, stop = map(int, input().split())

i = start

while True:
    if i % 10 == 3:
        i += 1
        continue

    if i > stop:
        break
    print(i)
    i += 1

1 20
1
2
4
5
6
7
8
9
10
11
12
14
15
16
17
18
19
20

In [ ]:
height = int(input())

for i in range(height):
    print(' ' * (height - i) + '*' * int(2*i+1))

4
    *
   ***
  *****
 *******

In [ ]:
height = int(input())

for i in range(height):
    for j in reversed(range(height)):
        if j > i:
            print(' ', end='')
        else:
            print('*', end='')
    for j in range(height):
        if j < i:
            print('*', end='')
    print()

5
    *
   ***
  *****
 *******
*********

In [ ]:
start, stop = map(int, input().split())

for i in range(start, stop + 1):
    print('Fizz' * (i % 5 == 0) + 'Buzz' * (i % 7 == 0) or i)

35 40
Fizzbuzz
36
37
38
39
Fizz

In [ ]:
start, stop = map(int, input().split())

list_origin = [2**i for i in range(start, stop+1)]

del list_origin[1]
del list_origin[-2]

print(list_origin)

1 10
[2, 8, 16, 32, 64, 128, 256, 1024]

In [ ]:
from datetime import date
today = date.today()
today.year, today.month, today.day

(2021, 7, 29)

### 추가문제 1
- a + b + c = 1000
- a^2 + b^2 = c^2 인 피타고라스 수

In [ ]:
for a in range(1, 333):
    for b in range(1, 1000):
        if a * a + b * b == (1000 - b - a) ** 2:
            print(a, b, 1000-b-a)

200 375 425

In [2]:
for a in range(1, 333):
    for b in range(a + 1, 1000):
        if a * a + b * b == (1000 - b - a) ** 2:
            print(a, b, 1000-b-a)

200 375 425

### 추가문제 2
- 본인의 생일을 1998 12 15와 같이 년 월 일로 입력받아 오늘 날짜의 만나이를 구하는 프로그램을 작성하시오

In [ ]:
from datetime import date
today = date.today()
today.year, today.month, today.day

(2021, 7, 29)

In [ ]:
from datetime import date
today = date.today()
today.year, today.month, today.day

year, month, day = map(int, input().split())

manage = today.year - year

if today.month < month:
    age = manage - 1
elif today.month > month:
    age = manage
else:
    if today.day < day:
        age = manage - 1
    else:
        age = manage
print(age)

1994 11 08
26

### 추가문제 3
- 디지털 시계에 하루동안(00:00 ~ 23:59) 3이 표시되는 시간을 초로 환산하면 총 몇초일까요?

- tip. 숫자가 아닌 문자 관념으로 접근해보길

In [ ]:
# 디지털 시계에 하루동안(00:00 ~ 23:59) 3이 표시되는 시간을 초로 환산하면 총 몇초일까요?
total = 0

for i in range(0, 24):                      # i는 시간(hour)
    if i % 10 == 3:                             #그 시간 내내 3이 표시되므로 3600초
        total += 3600
    else:
        for k in range(0,6):                # k는 분침의 10의 자리
            if k == 3:                     #10분 내내 3이 표시되므로 600초
                total += 600
            else:
                for l in range(0, 10):      # l은 분침의 1의 자리
                    if l == 3:             #1분 내내 3이 표시되므로 60초
                        total += 60

print(f'{total}초입니다.')

29700초입니다.

In [ ]:
empty_list = []

for i in range(0, 24):
    for k in range(0, 60):
        j = 100 * i + k
        empty_list.append(j)

for i in empty_list:
    if i % 1000 != 300 or i % 100 != 30 or i % 10 != 3:
        empty_list.remove(i)

print(len(empty_list))

720

In [6]:
total_seconds = 0
for hour in range(24):
    for min in range(60):
        display = f'{hour:02d}:{min:02d}'
        if '3' in display:
            total_seconds += 60
print(total_seconds)

29700