# Unit 32. 람다 함수 - 익명(Anonymous) 함수
- 코드 간결, 쓸데없는 변수 지정 방지

In [5]:
def plus_ten(x):
    return x + 10

In [7]:
plus_ten(1)

11

In [8]:
plus_ten2 = lambda x: x+10
plus_ten2(5)

15

In [9]:
(lambda x: x+10)(5)

15

In [12]:
list(map(lambda x: int(x)+10 , input().split()))

2 5 10

[12, 15, 20]

In [13]:
def plus_ten(x):
    return int(x) + 10
list(map(plus_ten, input().split()))

2 5 9

[12, 15, 19]

### 제약 사항

In [15]:
# 람다 함수에서 변수를 만들 수 없음
(lambda x: y =10; x+y)

SyntaxError: ignored

In [16]:
y = 10      # 함수 밖은 상관 x
(lambda x : x+y)(3)

13

### 조건부 함수

In [22]:
# 리스트 a에서 3의 배수를 문자열로 변환
a = list(range(1,11))
list(map(lambda x: str(x) if x % 3 ==0 else x, a))      # 마지막a는 arg

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [23]:
# 리스트 a에서 3의 배수를 문자열로, 5의 배수는 실수로 변환
list(map(lambda x: str(x) if x % 3 == 0 else float(x) if x % 5 == 0 else x,a))
# elif 사용X, 삼항연산자 가능 / 2줄처럼 길면 바람직하지는 않음.

[1, 2, '3', 4, 5.0, '6', 7, 8, '9', 10.0]

### map에 여러개의 객체 넣기

In [24]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

list(map(lambda x, y : x * y, a, b))

[6, 14, 24, 36, 50]

### filter
- 거의 쓰지 않음

In [26]:
a = list(range(1,11))
list(filter(lambda x : 4 <= x < 8, a))

[4, 5, 6, 7]