# UNit 38. 예외 처리

## 38.1 try except

In [2]:
a = [1, 2, 3]
try:
    [a] = 4
except:
    print('예외 발생')

예외 발생

### 특정 예외만 처리하기

In [3]:
try:
    int('10d')
except ZeroDivisionError:
    print('0으로 나눌 수 없습니다.')
except IndexError:
    print('Index Error 발생')

ValueError: ignored

In [4]:
try:
    int('10d')
except ZeroDivisionError:
    print('0으로 나눌 수 없습니다.')
except IndexError:
    print('Index Error 발생')
except ValueError:
    print('Value Error 발생')

Value Error 발생

### 예외의 에러 메시지 받아오기

In [6]:
try:
    int('10d')
except Exception as e:      # alias
    print(e)                # Exception 개체의 __str__() method

invalid literal for int() with base 10: '10d'

## 38.2 else-finally

In [8]:
try:
    x = int(input('나눌 숫자 입력'))
    y = 10 / x
except Exception as e:
    print(e)
else:
    print(y)

나눌 숫자 입력3sd
invalid literal for int() with base 10: '3sd'

In [9]:
# 예외와 상관없이 항상 실행
try:
    x = int(input('나눌 숫자 입력'))
    y = 10 / x
except Exception as e:
    print(e)
else:
    print(y)
finally:
    print('코드 실행 종료')

나눌 숫자 입력0
division by zero
코드 실행 종료

**로그인**
1. id가 없는 경우
2. id 는 o, pwd x
3. id o pw o

## 38.3 예외 발생 시키기

In [23]:
import random
try:
    x= random.randint(1, 10)
    print(x)
    if x % 3 != 0:
        raise Exception('3의 배수가 아닙니다.')
except Exception as e:
    print('예외 발생', e)

9

In [26]:
def multiple11(x):
    if x % 11 != 0:
        raise Exception('11의 배수가 아닙니다.')
    print(x)

try:
    multiple11(100)
except Exception as e:
    print('예외 발생', e)

예외 발생 11의 배수가 아닙니다.

In [ ]:
for():
    for():
        for():
            if 조건:
                loop을 완전 탈출

In [ ]:
try:
    for():
        for():
            for():
                if 조건:
                    raise Exception
except:
    ;

## 38.4 예외 만들기

In [ ]:
# Exception 객체를 상속받아 객체를 만들면 됨