# Unit 29. 함수

#### 즉, 함수를 사용하면 이런 점이 좋습니다.

- 코드의 용도를 구분할 수 있다.
- 코드를 재사용할 수 있다.
- **실수를 줄일 수 있다.**

## 29.1 출력 함수 만들기

In [ ]:
def hello():
    print('Hello World!')

In [ ]:
hello

Hello World!

In [ ]:
def hello():
    pass

## 29.2 덧셈 함수

In [ ]:
# a, b = 매개변수, parameter, argument
def add(a, b):
    print(a + b)

In [ ]:
add(1, 2)

3

In [ ]:
# Docstrings
def add(a, b):
    """
    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.
    """
    print(a + b)

In [ ]:
add?
# signiture : 함수 이름
# docstring : 함수 설명

In [ ]:
print?

## 29.3 결과값 반환

In [ ]:
def add(a, b):
    return a+b

In [ ]:
add(4, 5), add(10, 20)

(9, 30)

In [ ]:
x = add(23, 45)
x

68

In [ ]:
def is_ten(x):
    return x==10

In [ ]:
is_ten(101//10)

True

In [ ]:
def not_ten(x):
    if x == 10:
        return
    else:
        print('It is not 10.')

In [ ]:
def not_ten(x):
    if x == 10:
        return
    print('It is not 10.')

In [ ]:
not_ten(5)

It is not 10.

## 29.4 여러개의 결과값 반환

In [ ]:
def add_sub(a, b):
    return a+b, a-b

In [ ]:
x, y = add_sub(15, 7)

In [ ]:
x, y

(22, 8)

## 29.5 함수의 호출 과정

In [ ]:
# stack을 이용한다

## 연습문제
- 3자리수 정수 두개를 곱해서 나온 결과가 팔린드롬(Palindrome)이 되도록 할 때, 가장 큰 숫자는?

In [57]:
def mult(a, b):
    return a * b

c = set()
for i in range(999,99,-1):
    for k in range(i, 99, -1):
        reverse_mult = int(str(mult(i, k))[::-1])
        if mult(i, k) == reverse_mult:
            c.add(mult(i, k))

d = list(c)
max(d)

906609

In [44]:
def is_palindrome(x):
    s = str(x)
    return s == s[::-1]

In [46]:
is_palindrome(1234321), is_palindrome(12345)

(True, False)

In [49]:
max_pal, m, n = 0, 0, 0
for i in range(100, 1000):
    for k in range(i, 1000):
        if is_palindrome(i * k):
            if i*k > max_pal:
                max_pal = i*k
                m = i
                n = k
print(f'{m} * {n} = {max_pal}')

913 * 993 = 906609