# Unit 30. 위치 인수와 키워드 인수

## 30.1 위치 인수

In [15]:
def print_numbers(a, b, c):
    print(a)
    print(b)
    print(c)

In [3]:
print_numbers(10, 20, 30)       # 10, 20, 30 : 위치인수

10
20
30

In [16]:
# *x, *y = 리스트/튜플 언패킹
x, y = [10, 20, 30], (40, 50, 60)
print_numbers(*x)
print_numbers(*y)

10
20
30
40
50
60

### 가변 인수 함수

In [13]:
def print_numbers2(*args):
    for arg in args:
        print(arg)

In [14]:
print_numbers2(10, 20, 30, 40)

10
20
30
40

### 고정인수와 가변인수

In [20]:
def print_numbers3(a, *args):
    print(a)
    print(args)

In [21]:
print_numbers3(10, 20, 30)

10
(20, 30)

In [23]:
print_numbers3(*x)

10
(20, 30)

In [24]:
def print_numbers4(*args, a):   # 가변은 고정보다 앞에 나올 수 없다.
    print(args)
    print(a)

SyntaxError: ignored

## 30.2 키워드 인수

In [27]:
def personal_info(name, age, addr):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', addr)

In [28]:
personal_info('홍길동', 30, '서울 강남구 도곡동')

이름:  홍길동
나이:  30
주소:  서울 강남구 도곡동

In [29]:
personal_info(age=30,addr='서울 강남구 도곡동',name='홍길동')

이름:  홍길동
나이:  30
주소:  서울 강남구 도곡동

## 30.3 키워드 인수와 딕셔너리 언패킹

In [33]:
x = {'name':'홍길동','age':30, 'addr':'서울 강남구 도곡동'}
personal_info(**x)      # *x는 키값 사용

이름:  홍길동
나이:  30
주소:  서울 강남구 도곡동

### 가변 키워드 인수

In [34]:
def personal_info2(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}: {value}')

In [35]:
personal_info2(**x)

name: 홍길동
age: 30
addr: 서울 강남구 도곡동

In [37]:
personal_info2(name='홍길동',age=30)

name: 홍길동
age: 30

In [38]:
def personal_info3(name, **kwargs):
    print(name)
    print(kwargs)

In [39]:
personal_info3(**x)

홍길동
{'age': 30, 'addr': '서울 강남구 도곡동'}

### 위치 인수와 키워드 인수

In [51]:
def my_print(*args, **kwargs):
    print(*args, **kwargs)

In [52]:
my_print(10,20,30, sep=', ')

10, 20, 30

## 30.4 매개변수에 초기값 지정

In [53]:
def personal_info4(name, age, addr = '비공개'):     #초기값 지정된 매개변수는 맨 뒤로!
    print('이름', name)
    print('나이', age)
    print('주소', addr)

In [54]:
personal_info4('홍길동',30)

이름 홍길동
나이 30
주소 비공개

In [55]:
personal_info4(**x)         # 주소를 안주면 초기값, 주소를 주면 입력한 값

이름 홍길동
나이 30
주소 서울 강남구 도곡동