# Unit 19. 중첩반복문

## 19.1 중첩(Nested) for loop

In [ ]:
for i in range(1, 6):
    for k in range(10, 60, 10):
        print(k, end = ' ')
    print(i)

10 20 30 40 50 1
10 20 30 40 50 2
10 20 30 40 50 3
10 20 30 40 50 4
10 20 30 40 50 5

## 19.2 별 사각형

In [ ]:
for i in range(5):
    for _ in range(5):
        print('*', end = '')
    print()

*****
*****
*****
*****
*****

In [12]:
for i in range(4):
    for _ in range(0, i):
        print(' ', end = '')
    for _ in range(5):
        print('*', end ='')
    print()

*****
 *****
  *****
   *****

In [21]:
# 평행사변형

### 19.3 계단식 별 모양

In [22]:
for i in range(5):
    for _ in range(i+1):
        print('*', end = '')
    print()

*
**
***
****
*****

In [27]:
for i in range(5):
    for _ in range(i):
        print(' ', end = '')
    for _ in range(5 - i):
        print('*', end = '')
    print()

*****
 ****
  ***
   **
    *

In [32]:
for i in range(5):
    print('*' * (i + 1))

*
**
***
****
*****

In [52]:
for i in range (1, 10, 2):
    print(' ' * int((9 - i) / 2) + '*' * i)
for k in range(7, 0, -2):
    print(' ' * int((9 - k) / 2) + '*' * k)

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [58]:
for i in range(5):
    for _ in range(4 - i):
        print(' ', end = '')
    for _ in range (2 * i + 1):
        print('*', end = '')
    print()
for k in range(4):
    for _ in range(k+1):
        print(' ', end = '')
    for _ in range(7-2*k):
        print('*', end = '')
    print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [59]:
for i in range(5):
    print(' '*(4-i) + '*' * (2 * i +1))
for i in range(4):
    print(' '*(i+1) + '*' * (7-2*i))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *